.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-items: end;
  margin: 100px 0;
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 78%, 70%);

}

.left-side {
  max-width: 700px;
  /* margin: 0 auto; */
  color: white;

}

.left-side h1 {
  max-width: 300px;
  font-size: 35px;
}

.left-side p {
  max-width: 500px;
}

.right-side {
  max-width: 700px;
  margin: 0 auto;
}

.square-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 7px 3px hsl(0, 38%, 50%)
}

.square-box p {
  color: grey;
}

.square-box .terms {
  color: orange;
  font-weight: bold;
}

.form-style {
  display: flex;
  flex-direction: column;
}

.form-style input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: inset 1px 1px 2px hsl(0, 0%, 50%);
  font-weight: bold;
}

.btn {
  padding: 15px;
  width: 100%;
  border: none;
  color: white;
}

.btn-top {
  margin: 0 0 20px 0;
  border-radius: 7px;
  box-shadow: 0px 7px 3px hsl(0, 38%, 50%);
  background-color: hsl(254, 58%, 54%);
  padding: 15px;
  width: 100%;
  border: none;
  color: white;
}

.bold {
  font-weight: bold;
}

.btn-bot {
  border-radius: 5px;
  background-color: hsl(125, 49%, 54%);
  margin-top: 5px;
  box-shadow: 0px 3px 3px hsl(0, 0%, 50%);
}

.btn:hover {
  background-color: hsl(125, 49%, 64%);
  cursor: pointer;
}